<section class="city-list">
  <ul>
    <app-city *ngFor="let report of weatherReports"
      [countryCode]="report.country"
      [id]="report.id"
      [name]="report.name"
      [hasForecast]="!!report.forecasts"
      [hasWeather]="!!report.weather"
      [isActive]="isActiveCity(report.id)"
      (selected)="activatedCity($event)"
    >

      <app-weather *ngIf="report.weather"
        [description]="report.weather.climate.description"
        [icon]="report.weather.climate.icon"
        [main]="report.weather.climate.main"
        [sun]="report.weather.sun"
        [temperature]="report.weather.temperature">
      </app-weather>

      <app-forecastlist *ngIf="report.forecasts"
        [forecasts]="report.forecasts">
      </app-forecastlist>
    </app-city>
  </ul>
</section>
